.logo {
  font-family: "Dancing Script", cursive;
}

/* HERO SECTION */
.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
  z-index: -1;
}

.hero-text {
  position: relative;
  padding: 20px 8% 40px 8%;
  color: #fff;
}

.hero-text h1 {
  font-size: 2em;
  margin-bottom: 10px;
  font-family: "Dancing Script", cursive;
}

.hero-text p {
  font-size: 1.5em;
  font-weight: 400;
  opacity: 0.9;
  font-family: 'Poppins', Sans-Serif;
  text-align: justify;
  text-indent: 40px;
  margin-bottom: 10px;
  padding-block: 5px;
  border-bottom: outset;
  border-color: brown;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1.3);
}

footer p a{
  color: brown;
}