footer p a{
  color: brown;
}

.logo {
  font-family: "Dancing Script", cursive;
}

.hero-text h1 {
  font-family: "Dancing Script", cursive;
}

.hero-text h3 {
  font-family: "Dancing Script", cursive;
}

/* HERO SECTION */
.hero {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: #fff;
}

.hero-text h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.hero-text h3 {
  font-size: 1.5em;
  font-weight: 400;
  opacity: 0.9;
}
.corner-logos {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 5;
}

.corner-logos img {
  width: 70px;
  height: auto;
  border-radius: 10px;
  opacity: 0.95;
  transition: transform 0.3s ease;
}

.corner-logos img:hover {
  transform: scale(1.1);
}
